
// remember to do @media so that its column for small screens, row for everything else
.twoflex-container
    display: flex
    justify-content: space-evenly
    align-items: center

// remember to do @media so that its a single column w/ two rows for small
// and 2 col, single row for everything else
.twogrid-container
    display: grid
    grid-template-columns: repeat(2, 1fr)
    grid-template-rows: 1fr
    grid-column-gap: 20px
    grid-row-gap: 20px
    //grid-row-gap: 0px


// generic responsive media query template from: https://angrytools.com/css/mediaquery/

// desktops - higher resolution
// @media (min-width: 1281px) {}

// laptops, desktops
// @media (min-width: 1025px) and (max-width: 1280px) {}

// tablets, ipads (portrait)
// @media (min-width: 768px) and (max-width: 1024px) {}

// tablets, ipads (landscape)
// @media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {}

// low resolution tablets, mobiles (landscape)
// @media (min-width: 481px) and (max-width: 767px) {}

// smartphones mobiles (portrait)
// @media (min-width: 320px) and (max-width: 480px) {}

