# To make sure client-side routing works
# https://create-react-app.dev/docs/deployment/#serving-apps-with-client-side-routing
# Because using Apache HTTP Server
# makes sure that requests to /thing and /thing/details will work
# w/o previously accessing /
Options -MultiViews
RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^ index.html [QSA,L]

# To make sure that SVGs are served with the proper MIME-Type
AddType image/svg+xml .svg .svgz

# TEMPORARY PROTECTION
# So only some people can view live contents while still developing
# Comment out when ready to really go live
AuthType Basic
AuthName "Protected Area"
AuthUserFile /src/.htpasswd
Require valid-user

# By placing this code in your .htaccess file,
# it will deny access to any file named .env from external requests.
# However, server-side scripts running on the same server will still
# have access to the .env file.
# Make sure that the .htaccess file is located in the same directory
# as your .env file or in a directory that applies to the relevant URL path.
<Files ".env">
    Order allow,deny
    Deny from all
</Files>